* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-size-high: 48px;
    --font-size-medium: 36px;
    --font-size-normal: 20px;
    --heart-bg-color: #F5F5F5;
}

@font-face {
    font-family: Roboto;
    src: url(/fonts/Roboto-Medium.ttf),
    url(/fonts/Roboto-Regular.ttf);
}

h1 {
    font-size: 20px;
    color: black;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
}

p {
    font-size: 15px;
    text-transform: capitalize;
    color: #78858F;
    font-style: normal;
    font-weight: 400;
    line-height: 25.5px;
    letter-spacing: 0.5px;
}

body {
    background-color: #BACAD9;
    width: 100%;
    height: 100vh;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.container {
    width: 360px;
    height: 367px;
    background: #FFFFFF;
    border-radius: 20px;
    margin: 0 auto;
    align-self: center;
    overflow: hidden;
}

.user {
    width: 360px;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    gap: 10px;
    justify-content: flex-start;
}

.user-info {
    width: 190px;
    height: 52px;
}

.icon {
    display: flex;
    flex-direction: column;
    width: 40px;
    height: 40px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    justify-content: flex-end;
}

.image {
    width: 360px;
    height: 184px;
}

.image img {
    width: 100%;
    height: 100%;
}

.topic {
    width: 100%;
    height: 73px;
}

.topic h2 {
    padding: 25px;
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.5px;
    color: #78858F;
}

.topic h2::first-letter {
    text-transform: uppercase;
}


.second-container {
    width: 360px;
    height: 438px;
    background-image: linear-gradient(rgba(0,0,0,0.52), rgba(0,0,0,0.52)), url(./assets/image/card.jpg);
    border-radius: 20px;
    margin: 0 auto;
    align-self: center;
    overflow: hidden;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 31px;
}

.second-container .text h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 45px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
    color: white;
}

.music-player {
    display: flex;
    background-color: white;
    border-radius: 60px;
    width: 167px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.third-container {
    width: 360px;
    height: 367px;
    background-color: white;
    margin: 0 auto;
    align-self: center;
    overflow: hidden;
    border-radius: 20px;
}

.icon {
    cursor: pointer;
}

.container-four {
    width: 360px;
    height: 554px;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    margin: 0 auto;
    align-self: center;
    justify-content: space-evenly;
}

.container-four .left {
    display: flex;
    flex-direction: column;
    padding: 30px 25px 50px 0;
    height: 100%;
    justify-content: space-between;
    width: 66px;
}

.container-four .left .left-text .buy {
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: var(--font-size-high);
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.container-four .left .left-text .now {
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: var(--font-size-medium);
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
} 

.container-four .left .left-text .price {
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: var(--font-size-normal);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    flex-direction: column;
}

.container-four .left .circle1 {
    width: 60px;
    height: 60px;
    background-color: var(--heart-bg-color);
    border-radius: 50px;
}

.container-four .left .circle1 svg {
    margin: 0 auto;
    display: block;
    height: 100%;
}

.container-four .left .left-text span {
    padding: 24px 0;
}

.container-five {
    width: 360px;
    height: 541.5px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 0 auto;
    align-self: center;
}

.five-text {
    padding: 25px;
}

.five-text h3:first-of-type{
    color: black;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 31px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    padding-bottom: 20px;
}

.five-text h3:nth-of-type(2) {
    color: #000;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.5px;
}

.five-button {
    width: 100%;
    height: 100%;
    padding: 25px;
}

.container-five .five-button button {
    width: 310px;
    height: 48px;
    padding: 10px;
    border-radius: 25px;
    cursor: pointer;
    background-color: #FE1A59;
    border: none;
}

.container-five .five-button button span {
    color: #FFF;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.container-six {
    width: 360px;
    height: 534px;
    background: url(./assets/image/paint.jpg);
    border-radius: 20px;
    overflow: hidden;
    margin: 0 auto;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.content-six {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.15) 40.63%, #000 93.75%);
    width: 100%;
    padding: 35px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container-six .content-six .heart-six span,
.container-six .content-six .share-six span,
.container-six .content-six .message-six span {
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    align-self: center;
    display: inline-block;
    text-align: center;
}

.container-six .content-six .heart-six,
.container-six .content-six .share-six,
.container-six .content-six .message-six{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-correct {
    display: flex;
    gap: 10px;
}

.container-seven {
    height: 527px;
    width: 360px;
    background-color: black;
    border-radius: 20px;
    overflow: hidden;
    margin: 0 auto;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    gap: 20px;
}

.container-seven .about span{
    display: block;
    gap: 5px;
}

.container-seven .about span:nth-of-type(1) {
    color: #FFF;
    font-family: "Roboto";
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
}

.container-seven .about span:nth-of-type(2) {
    color: #828282;
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px; 
    letter-spacing: 0.5px;
    text-align: center;
}

.container-seven .avatar-girl {
    width: 100px;
    height: 100px;
    position: relative;
    background: linear-gradient(90deg, #01DCEE 0%, #01F4A3 100%);
    border-radius: 50%;
}

.container-seven .avatar-girl .content-girl{
    position: absolute;
    border:  4px solid black;
    inset: 4px;
    border-radius: 50px;
    z-index: 1;
    overflow: hidden;
}

.container-seven .avatar-girl .content-girl img {
    width: 100%;
    height: 100%;
}

.container-seven .design-card span {
    text-align: center;
    font-family: "Roboto";
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    background: linear-gradient(90deg, #00F5A0 0%, #00D9F5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container-seven .design-card {
    display: flex;
    justify-content: center;
}

.container-seven .mini-lorem span {
    color: #FFF;
    text-align: center;
    font-family: "Roboto";
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 0.5px;
}

.container-seven .mini-lorem {
    display: flex;
    justify-content: center;
}

.container-seven .girl-button button {
    padding: 16px 20px;
    border-radius: 50px;
    border-style: none;
    background: linear-gradient(90deg, #00F5A0 0%, #00D9F5 100%);
}

.container-seven .girl-button button span {
    color: black;
    text-align: center;
    font-family: 'Roboto';
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
    text-transform: uppercase;
}

button {
    cursor: pointer;
}

.container-eight {
    width: 553px;
    height: 452px;
    background-color: black;
    border-radius: 75px;
    overflow: hidden;
    margin: 0 auto;
    align-self: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-shrink: 1;
    border: 10px solid #BACAD9;
    position: relative;
}

.container-eight .project-view {
    display: flex;
    width: 100%;
    padding: 50px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container-eight .project-view .left {
    display: flex;
    flex-direction: column;
}

.container-eight .project-view .left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.container-eight .project-view .left span:nth-of-type(1) {
    color: #FFF;
    font-family: 'Roboto';
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.5px;
}

.container-eight .project-view .left span:nth-of-type(2) {
    color: #FFF;
    font-family: 'Roboto';
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 43px; 
    letter-spacing: 0.5px;
}

.container-eight .project-view .right {
    width: 53px;
    height: 47px;
    border-radius: 15px;
    background: linear-gradient(90deg, #EB3349 0%, #F45C43 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.container-eight .project-view .right svg {
    cursor: pointer;
}

.container-eight .grapic {
    width: 100%;
    height: 100%;
    background-color: black;
    padding-top: 17px;
}

.container-eight .grapic .lines {
    width: 100%;
    height: 100%;
    position: relative;
}

.container-eight .grapic .lines .line {
    width: 457.393px;
    height: 1px;
    background: #151515;
    margin: 30px 52px;
}

.container-eight .grapic .lines .line:nth-of-type(1){
    margin-top: 0;
}

.container-eight .grapic .fix-svg svg {
    position: absolute;
    z-index: 1;
    top: 15%;
    right: 0%;
    width: 100%;
    height: 100%;
}

.container-eight .grapic .fix-svg .second-svg svg {
    scale: 0.1;
    position: absolute;
    top: -23%;
    right: -8%;
}

.container-eight .grapic .fix-svg .second-svg::before{
    content: "564";
    border-radius: 10px 10px 10px 0px;
    background: #FA0125;
    box-shadow: 0px 4px 9px -2px rgba(0, 0, 0, 0.95);
    position: absolute;
    color: #FFF;
    font-family: 'Roboto';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 43px; 
    letter-spacing: 0.5px;
    padding: 0px 10px;
    left: 60%;
    top: 3%;
}

.container-eight .time {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
    color: #C7D4E1;
    background-color: black;
    flex-wrap: wrap;
    flex-shrink: 1;
    width: 100%;
    height: 50px;
    z-index: 999;
    position: absolute;
    top: 90%;
}

@media (max-width: 500px) {
    .container-eight .grapic .fix-svg .second-svg svg {
        top: -10%;
    }
    .container-eight .grapic .fix-svg .second-svg::before{
        top: 13%;
    }
}

@media (min-width: 420px)  and (max-height:490px) {
    .container-eight .grapic .fix-svg .second-svg svg {
        top: -12%;
    }
}

/* .container-nine {
    width: 400px;
    height: 270px;
    background-color: white;
    padding: 25px;
    overflow: hidden;
    margin: 0 auto;
    align-self: center;
    display: flex;
    border-radius: 20px;
    position: relative;
}

.container-nine .lineSpace {
    width: calc(100% - 50px);
    height: 1px;
    background: #E9EDF7;
    position: absolute;
    top: 70%;
    left: 25px;
}

.brake {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.container-nine .brake .rectangles {
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    position: relative;
} 

.container-nine .brake .secondRectangles {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container-nine .rectangles .rectangle {
    width: 21.6px;
    border-radius: 30px 30px 0px 0px;
    background: linear-gradient(90deg, #FF512F 0%, #DD2476 100%);
}

.container-nine .rectangles .firstRec {
    height: 100%;
}

.container-nine .rectangles .secondRec {
    height: 23.77%;
}

.container-nine .rectangles .thirdRec {
    height: 63%;
}

.container-nine .rectangles .fourRec {
    height: 40%;
}

.container-nine .rectangles .fiveRec {
    height: 48%;
}

.container-nine .rectangles .sixRec {
    height: 51%;
}

.container-nine .rectangles .sevenRec {
    height: 41%;
}

.container-nine .secondRectangles .rec {
    width: 21.6px;
    border-radius: 0px 0px 30px 30px;
    background: linear-gradient(90deg, #00F5A0 0%, #00D9F5 100%);
}

.container-nine .secondRectangles .recOne {
    height: 31%;
}

.container-nine .secondRectangles .recTwo {
    height: 70%;
}

.container-nine .secondRectangles .recThree {
    height: 45.7%;
}

.container-nine .secondRectangles .recFour {
    height: 61.6%;
}

.container-nine .secondRectangles .recFive {
    height: 100%;
}

.container-nine .secondRectangles .recSix {
    height: 71.8%;
}

.container-nine .secondRectangles .recSeven {
    height: 61.2%;
}

.container-nine .horizontal-lines {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    left: 10px;
}

.container-nine .horizontal-lines .sevenLine{
    width: 1px;
    height: 100%;
    background: #E9EDF7;
    border-left: 10.3px solid green;
    border-right: 10.3px solid red;
    z-index: 1;
    display: flex;
    justify-content: space-between;
} */

/* .sevenLine {
    position: absolute;
    width: 100%;
    height: 100%;
    width: 1px;
    background: #E9EDF7;
}

.rectangle {
    position: relative;
    height: 100%;
} */